<div class="line-bc"><!--①LINE会話全体を囲う-->
  <% if message.user.id != current_user.id %>
    <div class="balloon6">
      <div class="faceicon">
        <%= link_to user_path(message.user.id) do %>
          <%= image_tag message.user.person.profile.img_name.url(:thumb) %>
        <% end %>
      </div>
      <div class="chatting">
        <div class="says">
          <p id="left-message"><%= message.content %></p>
        </div>
      </div>
      <div class="time-sent-message">
        <%= l message.created_at, format: :short %>
      </div>
    </div>
  <% else %>
    <div class="mycomment">
      <div class="time-sent-message">
        <%= l message.created_at, format: :short %>
      </div>
      <p id="right-message"><%= message.content %></p>
    </div>
  <% end %>
</div>
