<div class="switch-user-page">
  <div class='page-title'>メッセージ一覧</div>
  <div class='page-switches'>
    <% if @new_matching_flag.present? %>
      <i class="fas fa-circle fa-lg circle-badge"></i>
    <% end %>
    <%= link_to 'マッチング', matching_index_path, class: 'left-link' %>
    <%= link_to 'メッセージ', messages_path, class: 'right-link active' %>
  </div>
  <div class="user-list-box jscroll">
    <% if @desc_message_exist_matchers.present? %>
      <% @desc_message_exist_matchers.each do |user| %>
        <% current_user_message_rooms = MessageRoomUser.where(user_id: current_user.id).map(&:message_room) %>
        <% message_room = MessageRoomUser.where(message_room: current_user_message_rooms, user_id: user.id).map(&:message_room).first %>
        <%= link_to message_path(message_room.id) do %>
          <div class="user-card messages-card">
            <div class='top-area'>
              <div class='user-card-img'>
                <%= image_tag user.person.profile.img_name.url(:thumb) %>
              </div>
              <div class='right-area'>
                <div class='first-topic-area'>
                  <div class='message-name-age'>
                    <div class='user-name'>
                      <%= user.person.profile.name %>
                    </div>
                    <% if user.person.profile.birthday.present? %>
                      <div class='user-age'>
                        (<%= user.person.profile.age %>)
                      </div>
                    <% end %>
                  </div>
                  <div class='icon-time'>
                    <div class='user-relation-time'>
                      <%= l Message.where(message_room_id: message_room.id).last.created_at, format: :short %>
                    </div>
                  </div>
                </div>
                <div class='user-company-name'>
                  <% if user.person.profile.company_name || user.person.profile.occupation %>
                    <%= user.person.profile.company_name %> / <%= user.person.profile.occupation %>
                  <% end %>
                </div>
                <div class='content-wrap'>
                  <div class='message-content'>
                    <%= Message.where(message_room_id: message_room.id).last.content %>
                  </div>
                  <% if Message.where(message_room_id: message_room.id, user_id: user.id, unread: 'unread').present? %>
                    <div class='user-new-icon'>未読</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= paginate @desc_message_exist_matchers %>
    <% else %>
      <p class='blank-data'>まだやりとりがありません</p>
    <% end %>
  </div>
</div>