<body id="chat-page-body">
  <div class="chatPage">
    <div class="header">
    <%= link_to "", :back, class: "linkToMatching" %>
      <div class="chatPartner">
        <div class="chatPartner_name">
        <div class="faceicon">
          <%= link_to user_path(@message_room_user) do %>
            <%= image_tag @message_room_user.person.profile.img_name.url(:thumb) %>
          <% end %>
        </div>
          <%= @message_room_user.person.profile.name %>
        </div>
      </div>
    </div>
    <div class="messagesArea messages" id="direct_messages" data-room_id="<%= @message_room.id %>" data-image_name="<%= @message_room_user.person.profile.img_name.url(:thumb) %>" data-user_id="<%= current_user.id %>" data-message_user_id="<%= @message_room_user.id %>">
      <% if @messages.present? %>
        <%= render @messages %>
      <% else %>
        <div class="no-messages">
          <p class='matching-success'>マッチングが成立しました！</p>
          <p class='content'><span>お互いのキョウカンした部分</span>について<br>メッセージしてみましょう！</p>
        </div>
      <% end %>
    </div>
    <form class="messageInputForm-wap">
      <div class='messageInputForm'>
      <textarea type="text" placeholder="入力してください" class="message-content"></textarea>
      <button id="btn_id">送信</button>
      </div>
    </form>
  </div>
</body>
