<div class="chatPage">
  <div class="header">
  <%= link_to "", messages_path, class: "linkToMatching" %>
    <div class="chatPartner">
      <div class="chatPartner_name"><%= @message_room_user.name %></div>
    </div>
  </div>
  <div class="messagesArea messages" id="direct_messages" data-room_id="<%= @message_room.id %>" data-image_name="<%= @message_room_user.img_name.url(:thumb) %>" data-user_id="<%= current_user.id %>" data-message_user_id="<%= @message_room_user.id %>">
    <% if @messages.present? %>
      <%= render @messages %>
    <% else %>
      <div class="no-messages">
        <p>メッセージなし</p>
      </div>
    <% end %>
  </div>
  <form class="messageInputForm-wap">
    <div class='messageInputForm'>
    <textarea type="text" placeholder="入力してください" class="message-content"></textarea>
    <button id="btn_id">送信</button>
    </div>
  </form>
</div>

<script>
  $(function() {
    // 画面最下部へ遷移
    $(window).scrollTop($(document).height());

    // 送信ボタンをデフォルトで無効
    $("#btn_id").attr("disabled", true);

    // 文字入力があれば送信ボタンを活性にし、空文字であれば非活性に
    const input = $('.message-content');
    input.on('input', function(event) {
      let value = input.val();
      if (value) {
        $("#btn_id").attr("disabled", false);
      } else {
        $("#btn_id").attr("disabled", true);
      }
    });
  });
</script>