<div class='userEditPage'>
  <div class='header'>アカウント編集</div>
  <div class='container'>
    <%= form_for current_user, url: registration_path(current_user) do |f| %>
      <div class="form-group">
        <%= f.label '名前' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div id="img_field" onClick="$('#file').click()" >
        <% if current_user.img_name? %>
          <%= image_tag current_user.img_name.url(:thumb) %>
        <% else %>
          <%= image_tag 'default-person-icon.jpeg' %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.file_field :img_name, class: "image", style: "display:none;", id: "file"%>
        <p><%= f.check_box :remove_img_name %>画像を削除する</p>
      </div>
      <div class="form-group">
        <%= f.label '自己紹介' %>
        <%= f.text_area :self_introduction, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
      </div>
      <div class="form-group">
        <%= f.select :communication_method, User.communication_methods.keys.map {|k| [I18n.t("enums.user.communication_method.#{k}"), k]}, include_blank: '選択して下さい' %>
      </div>
      <div class="form-group">
        <%= f.select :purpose_of_use, User.purpose_of_uses.keys.map {|k| [I18n.t("enums.user.purpose_of_use.#{k}"), k]}, include_blank: '選択して下さい' %>
      </div>

      <div class="form-group">
        <%= f.label '更新するにはパスワードを入力してください' %>
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="text-center">
        <%= f.submit '更新', class: "btn submitBtn" %>
      </div>

    <% end %>
  </div>
</div>