<div class='userEditPage'>
  <div class='header'>アカウント編集</div>
  <div class='container'>
    <%= form_for current_user, url: registration_path(current_user) do |f| %>
      <div class="form-group">
        <%= f.label '名前' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div id="img_field" onClick="$('#file').click()" >
        <% if current_user.img_name? %>
          <%= image_tag current_user.img_name.url(:thumb) %>
        <% else %>
          <%= image_tag 'default-person-icon.jpeg' %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.file_field :img_name, class: "image", style: "display:none;", id: "file"%>
        <p><%= f.check_box :remove_img_name %>画像を削除する</p>
      </div>
      <div class="form-group">
        <%= f.label '肩書き' %>
        <%= f.text_field :occupation, class: "form-control" %>
      </div>
      <label>職業タイプ ※複数選択可</label>
      <section class="user-edit-section">
        <p class="user-edit-category">
          選択して下さい
          <i class="fas fa-angle-down fa-2x"></i>
        </p>
        <div class="user-edit-list-none">
          <ul class="user-edit-list-inner">
            <%= collection_check_boxes(:user, :job_category_ids, JobCategory.all, :id, :name) do |job_category| %>
              <li class="user-edit-list-item">
                <%= job_category.label do %>
                  <%= job_category.check_box %>
                  <%= job_category.text %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <div class="form-group">
        <%= f.label '自己紹介' %>
        <%= f.text_area :self_introduction, class: "form-control" %>
      </div>
      <label>居住地</label>
      <div class="form-group">
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
      </div>
      <label>コミュニケーションの手段 ※複数選択可</label>
      <section class="user-edit-section">
        <p class="user-edit-category">
          選択して下さい
          <i class="fas fa-angle-down fa-2x"></i>
        </p>
        <div class="user-edit-list-none">
          <ul class="user-edit-list-inner">
            <%= collection_check_boxes(:user, :communication_method_ids, CommunicationMethod.all, :id, :name) do |method| %>
              <li class="user-edit-list-item">
                <%= method.label do %>
                  <%= method.check_box %>
                  <%= method.text %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <div class="form-group">
        <%= collection_check_boxes(:user, :purpose_of_use_ids, PurposeOfUse.all, :id, :name) do |purpose| %>
          <%= purpose.label do %>
            <%= purpose.check_box %>
            <%= purpose.text %>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label '更新するにはパスワードを入力してください' %>
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="text-center">
        <%= f.submit '更新', class: "btn submitBtn" %>
      </div>

    <% end %>
  </div>
</div>
