<div class="relationship-user-box-wrap">
  <div class="relationship-user-list-box">
    <h1>キョウカン履歴</h1>
    <%= link_to '相手から', likes_received_path %>
    <%= link_to '自分から', likes_sent_path %>
    <% @received_users.each do |received_user| %>
      <%= link_to user_path(received_user.id) do %>
        <div class="user-card">
          <div class='user-card-img'>
            <% if received_user.person.profile.img_name? %>
              <%= image_tag received_user.person.profile.img_name.url(:thumb) %>
            <% else %>
              <%= image_tag 'default-person-icon.jpeg' %>
            <% end %>
            <% relationship = Relationship.find_by(following_id: current_user.id,
                                                   follower_id: received_user.id) %>
            <% if relationship.new_arrival_flag == true %>
              <span>NEW</span>
            <% end %>
          </div>
          <%= received_user.person.profile.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  // ページ更新や離脱したときに、new_arrival_flagをfalseに切り替える
  $(window).on('unload', function(e) {
    <% current_user.passive_relationships.each do |relationship| %>
      <% if relationship.new_arrival_flag == true %>
        <% relationship.update(new_arrival_flag: false) %>
      <% end %>
    <% end %>
  });
</script>