<div class="switch-user-page">
  <div class='page-title'>キョウカン履歴</div>
  <div class='page-switches'>
    <%= link_to '相手から', likes_received_path, class: 'left-link active' %>
    <%= link_to '自分から', likes_sent_path, class: 'right-link' %>
  </div>
  <div class="user-list-box">
    <% if @received_users.present? %>
      <% @received_users.each do |received_user| %>
        <%= link_to user_path(received_user.id) do %>
          <div class="user-card">
            <div class='user-card-img'>
              <%= image_tag received_user.person.profile.img_name.url(:thumb) %>
            </div>
            <div class='right-area'>
              <div class='first-topic-area'>
                <div class='name-age'>
                  <div class='user-name'>
                    <%= received_user.person.profile.name %>
                  </div>
                  <% if received_user.person.profile.birthday.present? %>
                    <div class='user-age'>
                      <%= received_user.person.profile.age %> 歳
                    </div>
                  <% end %>
                </div>
                <div class='icon-time'>
                  <% relationship = Relationship.find_by(following_id: current_user.id,
                                                        follower_id: received_user.id) %>
                  <% if relationship.new_arrival_flag == true %>
                    <div class='user-new-icon'>NEW</div>
                  <% end %>
                </div>
              </div>
              <div class='user-company-name'>
                <%= received_user.person.profile.company_name %>
              </div>
              <div class='user-occupation'>
                <%= received_user.person.profile.occupation %>
              </div>
              <div class='user-catch-copy'>
                <%= received_user.person.profile.catch_copy %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= paginate @received_users %>
    <% else %>
      <p class='blank-data'>相手からのキョウカンはありません</p>
    <% end %>
  </div>
</div>

<script>
  // ページ更新や離脱したときに、new_arrival_flagをfalseに切り替える
  $(window).on('unload', function(e) {
    <% current_user.passive_relationships.each do |relationship| %>
      <% if relationship.new_arrival_flag == true %>
        <% relationship.update(new_arrival_flag: false) %>
      <% end %>
    <% end %>
  });
</script>