<div class="switch-user-page">
  <div class='page-title'>キョウカン履歴</div>
  <div class='page-switches'>
    <% if @new_arrival_flag == true %>
      <i class="fas fa-circle fa-lg circle-badge"></i>
    <% end %>
    <%= link_to '相手から', likes_received_path, class: 'left-link' %>
    <%= link_to '自分から', likes_sent_path, class: 'right-link active' %>
  </div>
  <div class="user-list-box">
    <% if @sent_users.present? %>
      <% @sent_users.each do |sent_user| %>
        <%= link_to user_path(sent_user.id) do %>
          <div class="user-card">
            <div class='user-card-img'>
              <%= image_tag sent_user.person.profile.img_name.url(:thumb) %>
            </div>
            <div class='right-area'>
              <div class='first-topic-area'>
                <div class='name-age'>
                  <div class='user-name'>
                    <%= sent_user.person.profile.name %>
                  </div>
                  <% if sent_user.person.profile.birthday.present? %>
                    <div class='user-age'>
                      <%= sent_user.person.profile.age %> 歳
                    </div>
                  <% end %>
                </div>
              </div>
              <div class='user-company-name'>
                <%= sent_user.person.profile.company_name %>
              </div>
              <div class='user-occupation'>
                <%= sent_user.person.profile.occupation %>
              </div>
              <div class='user-catch-copy'>
                <%= sent_user.person.profile.catch_copy %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= paginate @sent_users %>
    <% else %>
      <p class='blank-data'>自分からのキョウカンはありません</p>
    <% end %>
  </div>
</div>
