<div class="users-page-inner">
  <div class="box-wrap">
    <div class="search-box">
      <div class="search-box-inner">
        <h4>検索条件</h4>
        <%= search_form_for @q do |f| %>
          <div class="keyword-search">
            <%= f.label :name, "Keyword" %>
            <%= f.search_field :name_cont %>
          </div>
          <div class="search-form">
            <label>年齢</label>
            <div class='search-age-form'>
              <%= select_tag :search_min_age, options_for_select((15..85).to_a, { :selected => @search_min_age.to_i }), include_blank: true %>
              <span class='range-space'>〜</span>
              <%= select_tag :search_max_age, options_for_select((15..85).to_a, { :selected => @search_max_age.to_i }), include_blank: true %>
            </div>
          </div>
          <div class="search-form">
            <%= f.label :prefecture_id, "居住地" %>
            <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: '指定なし' %>
          </div>
          <div class="search-form">
            <%= f.label :job_categories_id, "職種" %>
            <%= f.collection_select :job_categories_id_eq, JobCategory.all, :id, :name, include_blank: '指定なし' %>
          </div>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    </div>
    <div class="user-list-box">
      <% @users.each do |user| %>
        <% if user != current_user %>
          <% unless current_user.following?(user) %>
            <%= link_to user_path(user.id) do %>
              <div class="user-card">
                <div class='user-card-img'>
                  <% if user.img_name? %>
                    <%= image_tag user.img_name.url(:thumb) %>
                  <% else %>
                    <%= image_tag 'default-person-icon.jpeg' %>
                  <% end %>
                </div>
                <%= user.name %>
              </div>
            <% end %>
          <% end%>
        <% end%>
      <% end %>
      <%= paginate @users %>
    </div>
  </div>
</div>