<div class='usershowPage'>
  <div class='container'>
    <header class="header">
      <p class='header_logo'>
      </p>
    </header>
    <div class='userInfo'>
      <div class='userInfo_img'>
        <% if @profile.img_name? %>
          <%= image_tag @profile.img_name.url(:thumb) %>
        <% else %>
          <%= image_tag 'default-person-icon.jpeg' %>
        <% end %>
      </div>
      <div class='userInfo_name'><%= @profile.name%></div>
      <div class='userInfo_selfIntroduction'><%= @profile.self_introduction %></div>
      <div><%= @profile.prefecture.name if @profile.prefecture_id? %></div>
    </div>
    <div class="text-center" id="user-description">
      <% if user_signed_in? %>
        <%# マッチングしたとき　%>
        <% if current_user.matchers.include?(@user) %>
          <%= link_to 'メッセージを送る', messages_path %>
        <%# いいねされたとき %>
        <% elsif current_user.follower?(@user) %>
          <div id="follow_form" class="thank">
            <% if current_user.matchers.include?(@user) %>
              <%= link_to 'メッセージを送る', messages_path %>
            <% elsif current_user != @user %>
              <%= render 'follow', {relationship: @relationship} %>
            <% end %>
          </div>
        <%# いいねしたとき %>
        <% elsif current_user.following?(@user) %>
          <div id="follow_form" class="good">
            <div class='liked.btn.btn-default'>いいね済み</div>
          </div>
        <%# 自分のユーザーではない画面のとき %>
        <% elsif current_user != @user %>
          <div class="other_user">
            <%= render 'follow', {relationship: @relationship} %>
          </div>
        <% end %>
      <% end %>
      <%= link_to "ユーザー一覧に戻る", users_path %>
    </div>
  </div>
</div>