<div class='usershowPage'>
  <div class='container'>
    <header class="header">
      <p class='header_logo'>
      </p>
    </header>
    <div class='userInfo'>
      <div class='userInfo_img'>
        <% if @user.img_name? %>
          <%= image_tag @user.img_name.url(:thumb) %>
        <% else %>
          <%= image_tag 'default-person-icon.jpeg' %>
        <% end %>
      </div>
      <div class='userInfo_name'><%= @user.name%></div>
      <div class='userInfo_selfIntroduction'><%= @user.self_introduction %></div>
      <div><%= @user.prefecture.name if @user.prefecture_id? %></div>
    </div>
    <div class="text-center" id="user-description">
      <% if user_signed_in? %>
        <div id="follow_form">
          <% if current_user.following?(@user) %>
            <div class='liked.btn.btn-default'>いいね済み</div>
          <% else %>
            <%= render 'follow', {relationship: @relationship} %>
          <% end %>
        </div>
      <% end %>
      <%= link_to "ユーザー一覧に戻る", users_path %>
    </div>
    <% if current_user.id == @user.id %>
      <div class='userAction'>
        <div class="userAction_edit userAction_common">
          <%= link_to(content_tag(:i, "", class: 'fas fa-edit fa-2x'), edit_user_registration_path) %>
          <span>情報を編集</span>
        </div>
        <div class='userAction_logout userAction_common'>
          <%= link_to(content_tag(:i, "", class: 'fas fa-cog fa-2x'), destroy_user_session_path, method: :delete) %>
          <span>ログアウト</span>
        </div>
      </div>
    <% end %>
  </div>
</div>