<div class="switch-user-page">
  <div class='page-title'>マッチング一覧</div>
  <div class='page-switches'>
    <%= link_to 'マッチング', matching_index_path, class: 'left-link active' %>
    <%= link_to 'メッセージ', messages_path, class: 'right-link' %>
    <% if @unread_message.present? %>
      <i class="fas fa-circle fa-lg right-circle-badge"></i>
    <% end %>
  </div>
  <div class="user-list-box jscroll">
    <% if @desc_relationship_blank_matchers.present? %>
      <% @desc_relationship_blank_matchers.each do |user| %>
        <%= link_to user_path(user.id) do %>
          <div class="user-card">
            <div class='top-area'>
              <div class='user-card-img'>
                <%= image_tag user.person.profile.img_name.url(:thumb) %>
              </div>
              <div class='right-area'>
                <div class='first-topic-area'>
                  <div class='name-age'>
                    <div class='user-name'>
                      <%= user.person.profile.name %>
                    </div>
                    <% if user.person.profile.birthday.present? %>
                      <div class='user-age'>
                        <%= user.person.profile.age %> 歳
                      </div>
                    <% end %>
                  </div>
                  <div class='icon-time'>
                    <% active_relationship = Relationship.find_by(following_id: user.id, follower_id: current_user.id) %>
                    <% if active_relationship.new_matching_flag == true %>
                      <div class='user-new-icon'>NEW</div>
                    <% end %>
                  </div>
                </div>
                <div class='user-company-name'>
                  <%= user.person.profile.company_name %>
                </div>
                <div class='user-occupation'>
                  <%= user.person.profile.occupation %>
                </div>
              </div>
            </div>
            <div class='user-catch-copy'>
              <%= user.person.profile.catch_copy %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= paginate @desc_relationship_blank_matchers %>
    <% else %>
      <p class='blank-data'>新しいマッチングはありません</p>
    <% end %>
  </div>
</div>
