<main>
  <section id="mainview">
    <div class="catch">
      <h1>ありのままで、つながる。</h1>
      <h2>ストーリーでつながるビジネスライフマッチングサービス</h2>
      <p class='terms-of-service'>利用規約およびプライバシーポリシーに同意して</p>
      <%= link_to  "Facebookではじめる（無料）", user_facebook_omniauth_authorize_path, class: 'btn default-btn' %>
    </div>
    <div class="main-image">
      <%= image_tag 'main-image.png' %>
    </div>
    <div class="first-message">
      <p>強い共感で人とつながり、ビジネス、そして人生を前に進める手助けをしたい。</P>
      <p>そんな思いからbaree(ベアー)は生まれました。</p>
      <p>これはただのビジネスライクな出会いを求めるサービスではありません。</p>
      <p>従来のビジネスマッチングアプリでは見えてこない、あなたの仕事や生き方に対する価値観を、<br>bareeには込めることができます。</p>
      <p>このサービスは「ビジネスライフマッチング」と銘打ってますが、相手のビジネススキル以上に、<br>その人の人生（ライフ）に強い共感が得られるという意味を込めています。</p>
      <p>輝かしい経歴やスキルだけではわからない、あなただけのストーリーによって、<br>新しいビジネスと心のつながりを見つけにいきましょう。</p>
    </div>
  </section>
  <section id='feature'>
    <h2>bareeの特徴</h2>
    <div class='feature-box'>
      <%= image_tag 'lp-feature-story.svg' %>
      <div class='feature-text'>
        <h3>お互いのビジネスや<br>人生観に共感した上でマッチング</h3>
        <p>履歴書に書くような時系列の自己紹介では、 あなたの個性は見えてきません。 あなたのストーリーの魅力を最大限に伝える プロフィールを作成し、マッチングすることができます。</p>
      </div>
    </div>
    <div class='feature-box reverse-box'>
      <div class='feature-text'>
        <h3>全国の多種多様な職種のお相手に<br>アプローチ</h3>
        <p>あなたが共感できる人は身近な場所にいるとは 限りません。一つでも多くの共感が生まれるように、あなたの希望に合わせてお相手を見つけることができます。</p>
      </div>
      <%= image_tag 'lp-feature-japan.svg', class: 'img-right' %>
    </div>
    <div class='feature-box'>
      <%= image_tag 'lp-feature-facebook.svg' %>
      <div class='feature-text'>
        <h3>Facebookログインによる完全実名制</h3>
        <p>信頼できるお相手を見つけ、安心して共感していただき たいため、実名制のFacebookを利用して登録します。</p>
      </div>
    </div>
  </section>
  <section id='usage'>
    <h2>使い方はとてもシンプル</h2>
    <div class='usage-step-wrap'>
      <div class='usage-step'>
        <h3>STEP1</h3>
        <%= image_tag 'screenshot-step1.svg' %>
        <p>気になる会員をさがす</p>
      </div>
      <div class='usage-step'>
        <h3>STEP2</h3>
        <%= image_tag 'screenshot-step2.svg' %>
        <p>お相手が見つかったら、「キョウカン」を押す</p>
      </div>
      <div class='usage-step'>
        <h3>STEP3</h3>
        <%= image_tag 'screenshot-step3.svg' %>
        <p>お互いに「キョウカン」すればマッチング成立！メッセージしてみましょう</p>
      </div>
    </div>
  </section>
  <section id='call-to-action'>
    <h2>あなたのストーリーを待ってる人がいます</h2>
    <p class='sub-title'>ストーリーで共感し、ビジネスを加速させましょう</p>
    <p class='terms-of-service'>利用規約およびプライバシーポリシーに同意して</p>
    <%= link_to  "Facebookではじめる（無料）", user_facebook_omniauth_authorize_path, class: 'btn default-btn' %>
  </section>
</main>
