<div class="settings-wrap">
  <div class="settings-title">
  <%= link_to "", :back, class: "link-to-settings" %>
  新しいパスワードの設定
  </div>
  <div class="settings-content">
    <%= form_for current_user, url: registration_path(current_user) do |f| %>
      <div>
        <%= f.label :password, "新しいパスワード ※半角英数字で8文字以上" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上入力してください)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input-form" %>
      </div>
      <div class='btn-wrap'>
        <%= f.submit '変更する', class: "btn default-btn" %>
      </div>
    <% end %>
  </div>
</div>
