<%= form_for current_user, url: registration_path(current_user) do |form| %>
  <div class="field">
    <%= form.label :password, "新しいパスワード" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上入力してください)</em><br />
    <% end %>
    <%= form.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <%= form.submit '変更する', class: "btn submitBtn" %>

<% end %>