<div class='mypage-edit-wrap'>
  <div class='mypage-edit-title'>プロフィール編集</div>
  <p class='profile-info'><i class="fas fa-question-circle"></i>プロフィールの書き方でお困りの方は<%= link_to 'こちら', about_usage_path %></p>
  <div class='form-wrap'>
    <%= form_for @current_person, url: mypage_update_path, html: { method: :patch, enforce_utf8: false }, local: true do |f| %>
      <% if @current_person.profile.errors.messages.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @current_person.profile.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.fields_for :profile, @current_person.profile do |pf| %>
        <% if current_user.admin %>
          <div class="form-area">
            <%= pf.label '氏名' %>
            <%= pf.text_field :name, class: "input-form" %>
          </div>
        <% else %>
          <div class="form-area">
            <span>氏名（Facebookから取得した氏名を表示）</span><br>
            <%= @current_person.profile.name %>
          </div>
        <% end %>
        <div class="form-area">
          <%= pf.label '生年月日' %><br>
          <%= pf.date_select :birthday, use_month_numbers: true, start_year: 1930, 
                              end_year: (Time.current.year - 10), include_blank: true %>
        </div>
        <div class='icon-label'>アイコン（Facebookから取得したアイコンを表示）</div>
        <% if current_user.admin %>
          <div id="img_field" onClick="$('#file').click()" >
            <%= image_tag @current_person.profile.img_name.url(:thumb) %>
          </div>
          <div class="form-area">
            <%= pf.file_field :img_name, class: "image", style: "display:none;", id: "file"%>
            <p class='delete-image-checkbox'><%= pf.check_box :remove_img_name %>画像を削除する</p>
          </div>
        <% else %>
          <%= image_tag @current_person.profile.img_name.url(:thumb) %>
        <% end %>
        <div class="form-area">
          <%= pf.label '会社名' %>
          <%= pf.text_field :company_name, class: "input-form", maxlength: 50 %>
        </div>
        <div class="form-area">
          <%= pf.label '肩書き（50字以内）' %>
          <%= pf.text_field :occupation, class: "input-form", maxlength: 50 %>
        </div>
        <div class="form-area">
          <%= pf.label 'キャッチコピー（50字以内）' %>
          <%= pf.text_field :catch_copy, class: "input-form", maxlength: 50 %>
        </div>
        <div class="form-area">
          <%= pf.label 'これまでのSTORY' %>
          <%= pf.text_area :self_introduction, class: "form-control", maxlength: 2000 %>
        </div>
        <label class='title-label'>職業タイプ ※複数選択可</label>
        <section class="user-edit-section">
          <p class="user-edit-category">
            選択して下さい
            <i class="fas fa-angle-down fa-2x"></i>
          </p>
          <div class="user-edit-list-none">
            <ul class="user-edit-list-inner">
              <%= f.collection_check_boxes(:job_category_ids, JobCategory.all, :id, :name) do |job_category| %>
                <li class="user-edit-list-item">
                  <%= job_category.label do %>
                    <%= job_category.check_box %>
                    <%= job_category.text %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </section> 
        <div class="form-area">
          <%= pf.label '現在の活動に至った理由（原体験）' %>
          <%= pf.text_area :original_experience, class: "form-control", maxlength: 2000 %>
        </div>
        <div class="form-area">
          <%= pf.label '今後実現したいことやビジョン' %>
          <%= pf.text_area :want_to_do, class: "form-control", maxlength: 2000 %>
        </div>
        <div class="form-area">
          <%= pf.label '現在の活動内容' %>
          <%= pf.text_area :current_work, class: "form-control", maxlength: 2000 %>
        </div>
        <label class='title-label'>コミュニケーションの手段 ※複数選択可</label>
        <section class="user-edit-section">
          <p class="user-edit-category">
            選択して下さい
            <i class="fas fa-angle-down fa-2x"></i>
          </p>
          <div class="user-edit-list-none">
            <ul class="user-edit-list-inner">
              <%= f.collection_check_boxes(:communication_method_ids, CommunicationMethod.all, :id, :name) do |method| %>
                <li class="user-edit-list-item">
                  <%= method.label do %>
                    <%= method.check_box %>
                    <%= method.text %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </section> 
        <label class='title-label'>Ticklyの利用目的 ※複数選択可</label>
        <section class="user-edit-section">
          <p class="user-edit-category">
            選択して下さい
            <i class="fas fa-angle-down fa-2x"></i>
          </p>
          <div class="user-edit-list-none">
            <ul class="user-edit-list-inner">
              <%= f.collection_check_boxes(:purpose_of_use_ids, PurposeOfUse.all, :id, :name) do |purpose| %>
                <li class="user-edit-list-item">
                  <%= purpose.label do %>
                    <%= purpose.check_box %>
                    <%= purpose.text %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </section> 
        <label class='title-label'>居住地</label>
        <div class="form-area">
          <%= pf.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい' %>
        </div>
        <div class='btn-wrap'>
          <%= f.submit '更新する', class: "btn default-btn" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
