<div class='user-page-wrap'>
  <div class='profile-wrap'>
    <div class='profile-header'>
      <%= image_tag @current_person_profile.img_name.url(:thumb) %>
      <div class='basic-text-profile-wrap'>
        <div class='name-age-wrap'>
          <div class="user-name">
            <%= @current_person_profile.name %>
          </div>
          <% if @current_person_profile.birthday.present? %>
            <div class="user-age">
              <p>(<%= @current_person_profile.age %>)</p>
            </div>
          <% end %>
        </div>
        <p class='company-name'><%= @current_person_profile.company_name %></p>
        <p class='user-occupation'><%= @current_person_profile.occupation %></p>
      </div>
    </div>
    <p class='user-catch-copy'>
      <%= @current_person_profile.catch_copy %>
    </p>
    <div class='btn-wrap'>
      <%= link_to "編集する", mypage_edit_path, class: 'btn default-btn' %>
    </div>
    <div class='main-profile'>
      <div class='profile-title'>これまでのSTORY</div>
      <p class='profile-content'><%= @current_person_profile.self_introduction %></p>
    </div>
    <div class='main-profile'>
      <div class='profile-title'>職種タイプ</div>
      <div class='tags-wrap'>
        <% @current_person.job_categories.each do |job_category| %>
          <div class='tags'>
            <div class='tags-text'><%= job_category.name %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class='main-profile'>
      <div class='profile-title'>現在の活動に至った理由（原体験）</div>
      <p class='profile-content'><%= @current_person_profile.original_experience %></p>
    </div>
    <div class='main-profile'>
      <div class='profile-title'>今後実現したいことやビジョン</div>
      <p class='profile-content'><%= @current_person_profile.want_to_do %></p>
    </div>
    <div class='main-profile'>
      <div class='profile-title'>現在の活動内容</div>
      <p class='profile-content'><%= @current_person_profile.current_work %></p>
    </div>
    <div class='main-profile'>
      <div class='profile-title'>コミュニーケーションの手段</div>
      <div class='tags-wrap'>
        <% @current_person.communication_methods.each do |communication_method| %>
          <div class='tags'>
            <div class='tags-text'><%= communication_method.name %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class='main-profile'>
      <div class='profile-title'>ticklyの利用目的</div>
      <div class='tags-wrap'>
        <% @current_person.purpose_of_uses.each do |purpose_of_use| %>
          <div class='tags'>
            <div class='tags-text'><%= purpose_of_use.name %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class='main-profile'>
      <div class='profile-title'>居住地</div>
      <% if @current_person_profile.prefecture_id? %>
        <div class='tags-wrap'>
          <div class='tags'>
            <div class='tags-text'><%= @current_person_profile.prefecture.name %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>