<!DOCTYPE html>
<html>
  <head>
    <title>Cordis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="current_user_id" content="<%= current_user.id if current_user %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
    <!-- ここにclassを追加する -->
    <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <!-- ここにclassを追加する -->
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
  <header>
    <div id="logo">
      <% if user_signed_in? %>
        <%= link_to image_tag('cordis_logo.svg'), users_path %>
      <% else %>
        <%= link_to image_tag('cordis_logo.svg'), root_path %>
      <% end %>
    </div>
    <ul class="menu">
      <% if user_signed_in? %>
        <li><%= link_to '会員をさがす', users_path %></li>
        <li><%= link_to 'キョウカン', likes_received_path %></li>
        <li><%= link_to 'メッセージ', matching_index_path  %></li>
        <li><%= link_to 'プロフィール', user_path(current_user) %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path  %></li>
        <li><%= link_to '新規登録', new_user_registration_path  %></li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <div class='header-user-img'>
        <% if current_user.img_name? %>
          <%= image_tag current_user.img_name.url(:thumb) %>
        <% else %>
          <%= image_tag 'default-person-icon.jpeg' %>
        <% end %>
      </div>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
