<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body id="lp-body">
    <div id="wrapper">
      <header class='pc-header'>
        <div id="logo">
          <%= link_to image_tag('logo-tickly.svg'), root_path %>
        </div>
        <div class='login-item'>
          <%= link_to  "Facebookでβ版登録", user_facebook_omniauth_authorize_path, class: 'btn signup-btn' %>
          <%= link_to  "ログインはこちら", user_facebook_omniauth_authorize_path, class: 'btn login-btn' %>
        </div>
      </header>
      <header class='sp-header'>
        <div id="logo">
          <%= link_to image_tag('logo-tickly.svg'), root_path %>
        </div>
        <div class='login-item'>
          <%= link_to  "新規登録", user_facebook_omniauth_authorize_path, class: 'btn signup-btn' %>
          <%= link_to  "ログイン", user_facebook_omniauth_authorize_path, class: 'btn login-btn' %>
        </div>
      </header>
        <%= render 'layouts/flashes' %>
        <%= yield %>
      <footer>
        <div class='fotter-inner'>
          <ul>
            <li><%= link_to '利用規約', terms_path %></li>
            <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
          </ul>
        </div>
        <div class='copyright'>© Tickly 2020. All Rights Reserved.</div>
      </footer>
    </div>
  </body>
</html>
